@use '@/styles/theme' as *;

page {
  min-height: 100%;
  background: theme('color-page-background');
  color: theme('color-text');
  font-family: 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

view,
text,
button,
input,
image,
scroll-view {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  line-height: inherit;
  background: transparent;
}

button::after {
  border: none;
}
